.App {
  width: 100%;
  height: 100%;
}

.HeaderLanguage {
  display: flex;
  width: 100%;
  padding: 14px 0;
  left: 0;
  z-index: 102;
}

.languageTitle {
  font-size: 12px;
  color: #003569;
  text-decoration: none;
  font-weight: 600;
  margin: 0;
}

.middletitle {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 4.67vw;
  margin-bottom: 0;
  font-weight: 600;
}

img.threedots {
  opacity: 0.5;
  width: 10%;
  display: flex;
  align-items: center;
  padding-left: 5%;
  position: absolute;
}

img.arrowdown {
  width: 100%;
}

.dots {
  display: flex;
  align-items: center;
}

.arrowdiv {
  display: flex;
  align-items: center;
  margin-left: 1%;
  width: 1.6%;
}
