.App {
  width: 100%;
  height: 100%;
}

.headerAge {
  display: flex;
  align-items: center;
  width: 100%;
  left: 0;
  height: 46px;
  color: black;
  border-bottom: 1px solid rgba(122, 122, 122, 0.1);
  position: absolute;
}

.position-top {
  top: 0;
}

.header a {
  color: #003569;
  text-decoration: none;
  font-weight: 500;
}

.header a.active {
  text-decoration: none;
  color: white;
}

img.gocross {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 18px;
}

.text-arrow {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
}
