.EditPicturePage .main-pic {
  width: 100%;
  max-height: 50%;
  display: block;
  margin-top: 45px;
}

.EditPicturePage .gocross {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 18px;
}

.EditPicturePage .link-next {
  position: absolute;
  right: 14px;
  font-weight: 600;
}

.newPhotoPost {
  width: 100%;
  text-align: center;
  margin: 0;
  font-weight: 500;
}

.EditPicturePage .square-main {
  display: block;
  overflow: hidden;
  /* padding-bottom: 100%; */
  position: relative;
  margin-top: 45px;
}

.EditPicturePage .square-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

.EditPicturePage .square-hot-balloon {
  display: block;
  overflow: hidden;
  position: relative;
  margin-top: 45px;
  width: 30%;
  padding: 10%;
  height: auto;
  margin: 50px;
}

.EditPicturePage .square-hot-balloon-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

.filters-row {
  padding: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  margin: 0;
}

.m-top-45 {
  margin-top: 45px;
}

/* .oneFilter {
  width: 100px;
  height: 139.5px;
}

.oneFilter-fit {
  object-fit: cover;
} */
