/* .EditPostDetailsPage img {
  width: 40%;
} */

.EditPostDetailsPage .main-pic {
  width: 100%;
  max-height: 50%;
  display: block;
  margin-top: 45px;
}

.EditPostDetailsPage .arrow-back {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 10px;
}

.EditPostDetailsPage .link-next {
  position: absolute;
  right: 14px;
  font-weight: 600;
}

.newPhotoPost {
  width: 100%;
  text-align: center;
  margin: 0;
}

.margin-top {
  margin-top: 45px;
}

.EditPostDetailsPage .contain-img {
  object-fit: contain;
  height: 100%;
}

.row-margin {
  padding: 15px 0;
}

.caption-margin-left {
  margin-left: 10px;
}

.sizeArrowLaura {
  height: 20px;
}

.sizepLaura {
  margin: 0;
}

.laura {
  padding: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.colouredcaption {
  background-color: rgb(249, 249, 249);
  border: none;
}

.colouredcaption:focus {
  outline: none;
}

.sepia-mode {
  filter: sepia(70%);
}

.bw-mode {
  filter: grayscale(70%);
}
