.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomePage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.HomePageBody {
  width: 74%;
}

.signup {
  width: 100%;
  color: #999999;
  margin-top: 4%;
  font-size: 13px;
  margin-bottom: 7%;
}

.instagramlogofirstpage {
  margin-top: 26%;
}

img.instagramlogofirstpage {
  width: 190px;
}

.hroi1 {
  margin-right: 8%;
  width: 42%;
  color: rgba(172, 172, 172, 0.048);
}

.hroi2 {
  margin-left: 8%;
  width: 42%;
  color: rgba(172, 172, 172, 0.048);
}

a.downloadapple {
  margin-top: 80px;
  margin-bottom: 100px;
}

img.imageapple {
  margin-bottom: 100px;
  width: 132px;
}

.signupemail {
  text-decoration: none;
  color: #3897f0;
  font-size: 13.6px;
  font-weight: 600;
}

.signupemail:hover {
  text-decoration: none;
  color: #3897f0;
  font-size: 13.6px;
  font-weight: 600;
}

.oro {
  margin: 0;
  color: #999999;
  font-size: 14px;
  font-weight: 600;
}

.hrop {
  margin: 10px 0;
  width: 100%;
}

.sectiondown {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
