.ProfilePage {
  margin-top: 45px;
  width: 100%;
  height: 100%;
  background-color: rgb(249, 249, 249);
}

.profile-pic {
  margin-right: 28px;
  flex-shrink: 0;
}

header.flex {
  width: 95%;
}

.ProfilePage .profile-pic {
  margin-right: 28px;
  flex-shrink: 0;
}

.ProfilePage h1 {
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  margin: -5px 0 -6px;
}

.ProfilePage .name-bio {
  padding: 0 16px 21px 16px;
  font-size: 14px;
  line-height: 20px;
}

.ProfilePage .username-settings {
  margin-bottom: 12px;
}

.ProfilePage .button {
  width: 100%;
}

.w-70 {
  width: 100%;
}

.headerprofilepage {
  padding: 30px 16px 0;
  height: 130px;
}
