/* a {
  text-decoration: none;
} */

.blue-button:active {
  animation: blinker 1s linear;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

a:hover {
  text-decoration: none;
  color: white;
}

img.fbicon {
  width: 7%;
  margin-right: 3%;
}
