/* NEW CLASSES TO BE DEFINED FOR PROFILEROW AND FOR LIKES*/

.ProfilePic {
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.profile-page {
  height: 70px;
  width: 70px;
}

.profile-page-litle {
  height: 40px;
  width: 40px;
}

.profile-row {
  height: 40px;
  width: 40px;
}

.img-in-circle {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.m-20 {
  margin: 0 20px;
}
