.Footer {
  background-color: rgb(249, 249, 249);
  color: #999999;
  border-top: 1px solid rgba(122, 122, 122, 0.1);
  width: 100%;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 4.67vw;
}

.Footer a {
  color: #003569;
  text-decoration: none;
  font-weight: 500;
}

.Footer a.active {
  text-decoration: none;
  color: white;
}
