.header {
  background-color: rgb(249, 249, 249);
  color: black;
  border-bottom: 1px solid rgba(122, 122, 122, 0.1);
  width: 100%;
  padding: 10.2px 0;
  position: fixed;
  left: 0;
}

.header a {
  color: #003569;
  text-decoration: none;
  font-weight: 500;
}

.header a.active {
  text-decoration: none;
  color: white;
}

img.goback {
  width: 3.2%;
  display: flex;
  align-items: center;
  margin-left: 4%;
  margin-top: 0.7%;
  position: fixed;
}

.register {
  text-align: center;
  font-size: 4.67vw;
  margin-bottom: 0;
  font-weight: 600;
}
