.entername {
  color: black;
  font-weight: 600;
  font-size: 4.2vw;
}

.addyourname {
  color: #999999;
  font-size: 4.2vw;
}

form.EditNamePsw {
  margin-top: 60px;
}

/* input {
  width: 100%;
  border: 1px solid rgba(122, 122, 122, 0.1);
  box-shadow: none;
  height: 10%;
  background-color: rgb(249, 249, 249);
} */

.EditNamePsw input {
  margin-bottom: 4%;
  height: 38px;
  padding: 3% 4%;
  font-size: 4vw;
  box-shadow: none;
}

.formField {
  padding-bottom: 6%;
}

.formField input {
  margin-bottom: 2%;
  height: 30px;
  padding: 2% 2%;
  font-size: 4vw;
  box-shadow: none;
}

.revealPsw {
  color: black;
  border: none;
  font-size: 4vw;
  font-weight: 500;
  box-shadow: none;
  background-color: rgba(249, 249, 249, 0);
  position: fixed;
  margin-left: 18%;
  margin-top: 18%;
}
