.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailforminput {
  width: 74%;
  display: flex;
  flex-direction: column;
}

form.EditEmail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 26px 0 0;
}

input.formEmail {
  border: 1px solid rgba(122, 122, 122, 0.1);
  box-shadow: none;
  background-color: rgb(249, 249, 249);
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

p.email {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 12px;
}

.hrEmail {
  width: 48%;
  color: black;
  background-color: black;
  margin: 0 auto 32px;
}

label {
  width: 100%;
  margin: 0;
}

.formEmail {
  text-decoration: none;
  color: black;
}

.formEmail:hover {
  text-decoration: none;
  color: black;
}

.bigdiv {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  padding: 0 1px;
}

.autoEmail {
  display: flex;
  align-items: center;
  font-size: 14px;
  border: 1px solid rgba(122, 122, 122, 0.301);
  height: 30px;
  color: black;

  background-color: white;
  font-weight: 500;
  background: 0 0;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}

.HeaderEnglish {
  margin-top: 46px;
}
