html {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 4.67vw;
  background-color: rgb(249, 249, 249);
}

nav {
  z-index: 400;
  width: 100%;
}

.navbar {
  margin-top: 0;
  position: fixed;
  left: 0;
  z-index: 99;
}

.footerprofilelogged {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.App {
  width: 100%;
  height: 100%;
  background-color: rgb(249, 249, 249);
}

a {
  color: #3897f0;
  outline: none;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */

  .App {
    background-color: rgb(249, 249, 249);
  }

  nav {
    display: none;
  }

  .navbar {
    display: none;
  }

  .footerprofilelogged {
    display: none;
  }

  a {
    color: #003569;
    text-decoration: none;
    outline: none;
    font-weight: 700;
  }
}
